.infoWrapper {
  height: 500px;
  background-color: white;
  margin-right: 2rem;
  padding: 1rem;
}

.felx-container {
  display: flex;
  justify-content: center;
}

.profileImage {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
}

.name {
  padding: 1rem 0;
  font-size: 170%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.jobTitle {
  padding: 0.1rem 0 1rem;
  font-size: 150%;
  color: gray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.loction-email {
  margin: 1rem 0;
}

.line {
    opacity: 0.3;
}

.info-icon {
  height: 0.8rem;
  color: gray;
  margin: 0.2rem 0.1rem;
}

.info-parag {
  font-size: 90%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0.2rem 0.5rem;
}

.github {
    margin: 1rem 0;
    height: 2.2rem;
    color: black;
}

.github:hover{
    cursor: pointer;
    color: rgb(16, 16, 90);
}
